# DVC cache
.dvc/cache/

# DVC temp files
*.dvc.tmp

# MLflow experiment logs
mlruns/

# Python cache
__pycache__/
*.pyc

# Raw data files (optional: if you want to ignore them)
# *.csv
# *.parquet
# datasets/

# Track data folder with DVC
# data/  <-- REMOVE or COMMENT THIS

# Model files
models/
*.pkl
*.joblib

# Notebooks checkpoints
.ipynb_checkpoints/

# CatBoost logs
catboost_info/
/maternal_data_cleaned_encoded.csv
